lenguajemarcas/gimnasio.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="gimnasio">
    <xs:complexType>
    <xs:sequence>

        <xs:element name="clientes">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="cliente" maxOccurs="unbounded">                    <xs:complexType>
                <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>                    <xs:element name="telefono" type="xs:string"/>
                </xs:sequence>
                </xs:complexType>
                </xs:element>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="clases">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="clase" maxOccurs="unbounded">
                <xs:complexType>
                <xs:sequence>                    <xs:element name="id" type="xs:int"/>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="horario" type="xs:string"/>                        </xs:sequence>
                </xs:complexType>
            </xs:element>
            </xs:sequence>
            </xs:complexType>
            </xs:element>

    </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>