lenguajemarcas/gimnasio.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="gimnasio">
  <xs:complexType>
    <xs:sequence>

      <xs:element name="clientes">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cliente" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="id_cliente" type="xs:int"/>
                  <xs:element name="nombre" type="xs:string"/>
                  <xs:element name="email" type="xs:string"/>
                  <xs:element name="telefono">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{9}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="entrenadores">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entrenador" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="id_entrenador" type="xs:int"/>
                  <xs:element name="nombre" type="xs:string"/>
                  <xs:element name="especialidad" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="clases">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="clase" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="id_clase" type="xs:int"/>
                  <xs:element name="nombre" type="xs:string"/>
                  <xs:element name="horario">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{2}:[0-9]{2}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="id_entrenador" type="xs:int"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="inscripciones">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="inscripcion" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="id_cliente" type="xs:int"/>
                  <xs:element name="id_clase" type="xs:int"/>
                  <xs:element name="fecha" type="xs:date"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>